*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: rgb(255, 255, 255);
    --text-color: rgba(17, 17, 17, 0.521);
    --main-color: #ff934c;
}


body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    font-weight: 400;
}


header {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;


}

.logo {
    display: flex;
    align-items: center;
    width: 210px;
    height: 100px;
    margin-right: 3px;
    padding-bottom: 5px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px, 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user {
    display: flex;
    align-items: center;
}


.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px;
        transition: .2s;
    }
    .navbar a{
        padding:5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position: absolute;
        width: 270px;
        height: 160px;
        top: 100%;
        right: -100%;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active{
        color: var(--text-color);
    }
    
    .navbar.open{
        right: 2%;
    }
    
}


.end {
    margin: 0;
    background: #424242;
}

#bottom {
    padding: 90px;
    padding-bottom: 150px;
    text-align: center;

}

#bottom h5 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #ffffff;
}

#bottom p{
    font-size: 15px;
    color: #ffffff;
    margin-top: -1%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* index HOME */
.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.63);
    margin-bottom: 0px;
    padding: 110px 0;
    position: relative;
    overflow: hidden;
    min-height: 50vh;

}

.back-pic {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

#content1 {
    text-align: center;
}

#content1 h2 {
    font-size: 80px;
    color: #ffffff;
}

#content1 p {
	font-size: 18px;
	line-height: 1.5;
    margin: 2px 150px;
    color: #ffffff;
    float: none;
    text-align: center;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  
  input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  button[type=submit] {
    padding: 10px;
    background-color: #ffae51;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  input[type=text]:focus {
    outline: none;
  }
  
  button[type=submit]:hover {
    background-color: #ff6600;
    transition: all .50s ease;
  }

  /* --------------------------------------------- */
  .container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    align-items: center
  }
  
  .left {
    flex: 1;
    padding: 100px;
    padding-right: 10px;
    text-align: center;
    
  }

  .left h1 {
    padding-bottom: 20px; 
    font-size: 45px;
    color: #555555;
  }

  .left p {
    font-size: 25px;
  }
  
  .right {
    flex: 1;
    padding-left: 10px;
    margin-top: 0; 
    padding-right: 0; 
  }
  
  img {
    max-width: 100%;
    height: auto;
    padding-top: 0px;
    vertical-align: middle;

  }
/* --------------------------------------------- */

.key {
    margin: 0;
    padding: 400px;
}

#middle {
    padding: 90px;
    padding-bottom: 150px;
    text-align: center;

}

#middle h5 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #4d4d4d;
}

#middle p{
    font-size: 15px;
    color: #646464;
    margin-top: -1%;
}